# Unignore the following
!english_stopwords.txt
!other_junk_words.txt
!txt_markup_del_list.txt
!xml_markup_del_list.txt

*.Rnw
*.RData
*.Rproj.user
*.Rapp.history
*.Rhistory
*.Rhistory
*.xsl
*.mod
*.dtd
*.ent
*.m~
.DS_Store
*.dvi
*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.eps
*.zip
*.log
*.asv
*.pdf
*.mat
*.csv
*.txt
*.xml
*.XML
*.xls
*.xlsx
*.gif
*.png
delete_me.m
copy_selected_files.m
teststring.txt
